/* Login */

.Rating {
  font-size: 4rem;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

/* Register */

.Register {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 4rem auto;
  align-items: center;
}

.ErrorInput {
  color: red;
  font-size: 20px;
  text-align: center;
}

/* Modal */

.ModalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Close:hover,
.Close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.Submit {
  background-color: white;
  border: 3px solid #008cba;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.Cancle {
  background-color: white;
  border: 3px solid red;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.Submit:hover {
  background-color: #008cba;
  color: white;
}

.Cancle:hover {
  background-color: red;
  color: white;
}

/* Input fields */

.Input {
  width: 100%;
  font-size: 1rem;
  padding: 16px 32px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Input:focus {
  border: 3px solid var(--color-button-blue);
}

.InputSubmit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.InputSubmit:hover {
  background-color: #45a049;
}

input[type="date"] {
  position: relative;
}

/* create a new arrow, because we are going to mess up the native one
      see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
  content: "\25BC";
  color: #555;
  padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
  color: var(--color-logo-blue);
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

/* adjust clear button */
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}
